@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,500;1,700&display=swap');



:root {
--color-fire: #ff7402;
--color-grass:#9bcc50;
--color-water: #0b3d5f;
--color-flying: #a83def;
--color-poison: #0b9825;
--color-bug: #729f3f;

--color-shadow: #070509;
--color-unknow: #757575;

--color-primary: rgb(119, 0, 0);
--color-primary-hover: #102523;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  font-family: 'Montserrat';
  background-color: burlywood;
  
}

.container{
   
  max-width: 1200px;
  margin: 0 auto;

}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 40px 0;
}

img{
   
width: 350px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0;

}
    
header form{

display: flex;
align-items: center;

gap: 15px;
}

.form-principal{

display: flex;
align-items: center;
gap: 10px;
border: 1px solid #470f0f;
padding: 15px 20px;
border-radius: 25px;
}

.form-principal input{

font-family: inherit;
width: 200px;
border: none;
outline: none;
font-size: 15px;

}

.icon-search{
width: 20px;
height: 20px;
stroke: #3e1919;
}

.btn-search{
border: none;
outline: none;
border-radius: 25px;
font-family: inherit;
padding: 15px 30px;
cursor: pointer;
letter-spacing: 2px;
background-color: var(--color-primary);
color: #ffffff;
}


.btn-search:hover{
background-color: var(--color-primary-hover);
color: #000;
}

/*boton filter*/
.container-filter{
display: flex;
}



.icon-filter{

display: flex;
align-items: center;
gap: 15px;

margin-bottom: 20px;
cursor: pointer;
}

.icon-filter .icon{
width: 20px;
height: 30px;
stroke: #0b0909;
}

.card-list-pokemons{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
}

.card-pokemon {
cursor: pointer;
text-decoration: none;
}


.card-img{
background-color: #f2f2f2;

display: flex;
align-items: center;
justify-content: center;
border-radius: 5px;
height: 250px;
}


.card-img img{
width: 100%;
height: 100%;
}

.card-info{
padding: 15px;
}

.card-info h3{
  color: #333;
}

.pokemon-id{
display: block;
color: #807878fb;
margin-bottom: 15px;
}

.card-types{
display: flex;
gap: 10px;
margin-top: 10px;
}

.card-types span{
font-size: 12px;
padding: 5px 20px;
border-radius: 5px;
color: #e9e4e4;
}

/*tipos de pokemon*/

.grass{

background-color:#00ff2f

}

.poison{

background-color: #3e1919;
}

.water{

background-color:darkcyan
}

.fire{

background-color: chocolate;
}

.flying{
background-color: hotpink;

}

.bug{

 background-color: darkslategray;
}

.container-filter{
display: flex;
justify-content: center;
  
position: fixed;
top: 0;
left: -300px;
  
width: 150px;
  
color: #140c0c;
background-color: #602b2b;
height: 100%;
padding-top: 100px;
transition: all .3s linear;
  
} 


 
.container-filter.active{

left: 0;

}




.filter-type{
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.filter-type span{
  font-weight: 700;
  font-size: 22px;
}


.group-type{
  display: flex;
  gap: 10px;

  margin-left: 15px ;
}

.group-type label{
  cursor: pointer;
}

